/* ============================ GERAL ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lexend Deca';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: #f9f9f9;
}

/* classe que põe limite no conteúdo e centraliza */
.wrapper {
  width: min(37.4rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}


/* ============================ HEADER ============================ */

#header {
  padding-top: 4.8rem;
  top: 0;
  width: 100vw;
  height: 20rem;

  background: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

#header header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 4.1rem;
}

#header header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}

#header input {
  width: 100%;
  height: 4rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  border: none;
}

#header input::placeholder {
  width: 120px;
  height: 17px;
  left: 58px;
  top: 124px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: right;

  color: #ffffff;

  opacity: 0.5;
}

/* ============================ POSTS ============================ */

#posts .cards {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;

  padding-block: 4.8rem
}

#posts .card {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 0.5rem;
}

#posts header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  padding-top: 1.8rem;
  padding-bottom: 2.7rem;
}

#posts .card header h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;

  text-align: left;

  color: #717171;
}

#posts .cards h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-bottom: 0.9rem;
  color: #1a202c;
}


#posts .cards p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.6rem;
  text-align: left;

  padding-inline: 1.7rem;
  padding-bottom: 1.5rem;

  color: #717171;
}

/* ============================ RESPONSIVE ============================ */

@media (min-width: 1024px) {

  /* ============================ GERAL ============================ */

  .wrapper {
    width: min(90rem, 100%);
  }

  #posts .cards {
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
  }
}
